<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto mt-5">
      <h3 class="maxim-title text-center">
        <i class="fa-solid fa-star-of-david"></i> 本日の格言 <i class="fa-solid fa-star-of-david"></i>
      </h3>
      <div class="maxim-text text-center mt-5">
        <%= @maxim.text %>
      </div>
      <h4 class="text-muted text-center mt-3">
        <%= @maxim.name %>
      </h4>
    </div>
  </div>
</div>
