<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-8 mt-5 mx-auto">
      <div class="main-box mt-5 pb-5">
        <h1 class="text-center result-text pt-5"><%= @result %></h1>
        <h4 class="text-center mt-5">ラッキーアイテム：<%= @item %></h4>
        <h4 class="text-center mt-3 pb-3">ラッキーカラー：<%= @color %></h4>
      </div>
    </div>
  </div>
</div>