<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-8 mt-5 mx-auto">
      <div class="top-box mt-5">
        <h3 class="text-center pt-5">うぇるかむ！</h3>
        <h5 class="text-center mt-4">占うボタンを押して本日の運勢を占ってみましょう！</h5>
        <div class="text-center">
          <%= link_to "占う", omikuji_path, class: "btn btn-lg btn-uranau my-5" %>
        </div>
      </div>
    </div>
  </div>
</div>