<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-8 mt-5 mx-auto">
      <div class="top-box mt-5 pb-5">
        <h3 class="text-center pt-5">うぇるかむ！</h3>
        <h5 class="text-center mt-4">下記のボタンを押して本日の運勢を占ってみましょう！</h5>
          <div class="text-center btn-border my-5 py-3">
            <%= link_to omikuji_path do %>
              <span class="top-btn">
               <i class="fa-solid fa-fan"></i> 占う <i class="fa-solid fa-fan"></i>
              </span>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</div>