@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header, footer {
  width: 100%;
  background-color: #4169e1;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'Kaisei Opti', serif;
}

main {
  flex: 1;
  background-color: #f0f8ff;
}

.header-text, .footer-text {
  text-align: center;
  color: #fff;
}

.header-text:hover {
  color: #b22222;
  text-decoration: none;
}

.main-box {
  background-color: #fff;
  border-radius: 10%;
  box-shadow:
    -10px 10px 25px rgba(218,112,214, 0.9),
    10px -10px 25px rgba(65, 105, 225, 0.9)
}

.btn-uranau {
  color: #fff;
  background-color: #da70d6;
}

.btn-uranau:hover {
  color: #fff;
  background-color: #6a5acd;
  transform: translateY(-5px);
}

.btn-border {
  width: 50%;
  margin: 0 auto;
  border: 2px solid #da70d6;
  border-radius: 0;
  background: #fff0f5;
  -webkit-box-shadow: 4px 4px 0 #da70d6;
  box-shadow: 4px 4px 0 #da70d6;
}

.btn-border:hover {
  -webkit-box-shadow: -4px -4px 0 #da70d6;
  box-shadow: -4px -4px 0 #da70d6;
}

.top-btn {
  color: #6a5acd;
  font-family: 'Shippori Mincho', serif;
  font-size: 20px;
  font-weight: bold;
}

.top-btn:hover {
  color: #b22222;
  text-decoration-line: none;
}

.result-text {
  font-weight: bold;
}

.ninja-img {
  display: flex;
  justify-content: space-around;
}

.ninja-img:hover {
  transform: translateY(-10px);
}

.maxim-title {
  color: #191970;
}

.maxim-text {
  font-size: 2rem;
  font-weight: bold;
}

.today-image {
  width: 600px;
  height: 500px;
  border-radius: 10%;
  object-fit: cover;
}

@media screen and (max-width:1023px) {
  .today-image {
    width: 350px;
    height: 300px;
  }
}