@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header, footer {
  width: 100%;
  background-color: #4169e1;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'M PLUS 1p', sans-serif;
}

main {
  flex: 1;
  background-color: #f0f8ff;
}

.header-text, .footer-text {
  text-align: center;
  color: #fff;
  font-family: 'Kaisei Opti', serif;
}

.top-box {
  background-color: #fff;
  border-radius: 10%;
}
.btn-uranau {
  color: #fff;
  background-color: #da70d6;
}

.btn-uranau:hover {
  color: #fff;
  background-color: #6a5acd;
  transform: translateY(-5px);
}