@import '~bootstrap/scss/bootstrap';

header, footer {
  width: 100%;
  background-color: #9370db;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: 'M PLUS 1p', sans-serif;
}

main {
  flex: 1;
  background-color: #e6e6fa;
}

footer {
  height: 50px;
}