<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto mt-5">
      <h3 class="maxim-title text-center">
        <i class="fas fa-cookie"></i> 本日のおやつ <i class="fas fa-cookie"></i>
      </h3>
      <div class="text-center mt-4">
        <%= image_tag @snack.get_snack_image(1000,1000),class: "today-image" %>
      </div>
      <h4 class="text-muted text-center my-5">
        <%= @snack.snack_name %>
      </h4>
    </div>
  </div>
</div>

